/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* 
body{
    background:#F3F4F6;
} */

.tooltip {
    @apply absolute invisible;
  }
  
  .has-tooltip:hover .tooltip {
    @apply z-50 visible;
  }

  ::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
/*   
  ::-webkit-scrollbar-track {
    background: orange;        
  } */
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, rgb(7, 192, 131));    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    ;  /* creates padding around scroll thumb */
  }